<head>
  <title>Ginko</title>
  <meta name="og:title" content="Ginko" />
</head>
<body>
  <h1>UwU</h1>
  <h2>OwO</h2>
  <h3>ewe</h3>
  <h4>awa</h4>
  <p>iwi</p>
  <p>Bienvenido ¿qué deseas hacer?</p>
            <% if(!isLogged.status) {
                isLogged.link = '/login'
                isLogged.message = "Login"
            }
                %>
                <p><a href=<%= isLogged.link %>><%= isLogged.message %></a></p>
</body>