<head>
  <title>Ginko</title>
  <meta name="og:title" content="Ginko" />
  <meta name="og:description" content="Página principal" />
</head>
<style>
  p {
    color: #d1dce1;
  }
  body {
    background-color: #36393f
  }
</style>
<body>
  <p>Bienvenido ¿qué deseas hacer?</p>
  <%
  if (isLogged.status) {
    %>
  <p><a href='/perfil'>Ir a mi perfil</a></p>
  <p><a href='/logout'>Cerrar sesión</a></p>
    <%
  } else {
    %>
  <p><a href='/login'>Iniciar sesión</a></p>
    <%
  }
  %>
</body>