<head>
  <title>Ginko</title>
  <meta name="og:title" content="Ginko">
  <meta name="og:description" content="Página principal">
  <meta name="og:image" content="https://i.imgur.com/ENeGsaK.png">
  <meta name="theme-color" content="#D1DCE1">
</head>
<style>
  p {
    color: #D1DCE1
  }
  body {
    background-color: #36393F
  }
  a {
    color: #D1DCE1;
  }
</style>
<body>
  <p>Bienvenido ¿qué deseas hacer?</p>
  <%
  if (isLogged.status) {
    %>
  <p><a href='/perfil'>Ir a mi perfil</a></p>
  <p><a href='/logout'>Cerrar sesión</a></p>
    <%
  } else {
    %>
  <p><a href='/login'>Iniciar sesión</a></p>
    <%
  }
  %>
</body>