<head>
  <title>Ginko</title>
  <meta name="og:title" content="Ginko" />
</head>
<body>
  <p>Bienvenido ¿qué deseas hacer?
  <%
  if (!isLogged.status) {
    isLogged.link = '/login'
    isLogged.message = "Iniciar sesión" 
  } else {
    isLogged.link = '/logout',
    isLogged.message = "Cerrar sesión"
  }
  %>
  </p>
  <p><a href=<%= isLogged.link %>><%= isLogged.message %></a></p>
</body>